extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 To open app, open Expo app and scan QR Code on the page located at the link below.
  a(href=' https://expo.dev/@jr550/App?serviceType=classic&distribution=expo-go') QR Code

  


  

