extends layout

block content
  
  form(id='newFriendRequestForm')

    h1 New Freind Request Form

    p Username
    input(name='username')


  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js")
  
  script.
    async function newFriendRequest() {

      const form = document.getElementById('newFriendRequestForm');
      const formData = new FormData(form);

      const payload = {}

      for (const [key, value] of formData) {
        payload[key] = value
        }
        
      result = await axios.post('./friends', {receiver: payload})

      document.body.innerHTML = result.data;
    }


  
  button(onclick='newFriendRequest()') Send Request